button {
    font-family: Arial;
    background-color: #7ea3e2;
    border: none;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
    padding: 1em;
    margin-left: 3em;
}

button:hover {
    background-color: rgb(11, 70, 97);
    color: white;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}

h2 {
    text-align: center; margin-bottom: 0;
    color:rgb(11, 70, 97);
}

#chart {
    padding: 3em;
    text-align: center; margin-bottom: 0;
}

.back {
    margin-top: 6em;
    
}

